/* Center any image */
.img-responsive {
    margin: 0 auto;
}

/* Give some border around the edges. */
container-fluid {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
