/* Center any image */
.img-responsive {
    margin: 0 auto;
}

/* Give some border around the edges. */
container-fluid {
    margin-top: 1000px;
    margin-bottom: 1000px;
    margin-left: 1000px;
    margin-right: 1000px;
}
